<!-- todo-quick-add.component.html -->
<form [formGroup]="addFormGroup">
<input
  formControlName="text"
  type="text"
  class="todo__input"
  placeholder="What needs to be done?"
  (keydown.enter)="emitCreate()" />
  <wsd-select formControlName="employee" [options]="options"></wsd-select>
<button
  [disabled]="addFormGroup.invalid"
  type="button"
  (click)="emitCreate()"
  class="todo__button--primary"
  >
  Add </button>
  <div
    *ngIf="addFormGroup.invalid &&
     (addFormGroup.touched ||
     addFormGroup.dirty)
     ;else anderesTemplate"

  >
  Validierungsfehler
  </div>
  <ng-template #anderesTemplate>
      <div>Keine Validierungsfehler</div>
  </ng-template>

</form>

{{addFormGroup.value | json}}
